{% extends "base.html" %}

{% block title %}Bulk Registration – Manual Sharing{% endblock %}

{% block content %}
<div class="col-lg-6 mx-auto">
  <div class="card border-secondary">
    <div class="card-header text-center fs-3 fw-bold">
      Bulk Registration for Manual Collateral<br>Sharing
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data" class="mb-3">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label fw-semibold">Choose a CSV file:</label>
          {{ form.csv_file }}
          {% if form.csv_file.errors %}
            <div class="text-danger small">{{ form.csv_file.errors.0 }}</div>
          {% endif %}
        </div>

        <button type="submit"
                class="btn btn-primary w-100 mb-3">
          Upload
        </button>
      </form>


      <a href="{% url 'bulk_manual_template' %}"
         class="btn btn-secondary w-100">
        Download CSV Template
      </a>
    </div>
  </div>
</div>
{% endblock %}
