name: Deploy Django to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /var/www/inclinic_new

            echo "Pulling latest code..."
            git pull origin main

            echo "Activating virtualenv..."
            source /var/www/venv/bin/activate

            echo "Installing requirements..."
            cd backend
            pip install -r requirements.txt

            echo "Running migrations..."
            python manage.py migrate --noinput

            echo "Restarting Gunicorn..."
            sudo systemctl restart gunicorn-inclinic_new

            echo "Deployment completed successfully."
